# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook files
.ipynb_checkpoints

# Virtual Environments
venv/
env/
.env
.venv
env.bak/
venv.bak/


# VS Code / IDE settings
.vscode/
.idea/
*.swp
*.swo

# OS hidden files
.DS_Store
Thumbs.db
